{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>My Roster</h1>
    <br>
    <table class="center" style="width:75%">
        <thead>
            <tr>
                <th>Character</th>
                <th>Class</th>
                <th>Item Level</th>
            </tr>
        </thead>
        <tbody>
            {% for character in characters %}
            <tr>
                <td>{{ character.name }}</td>
                <td>{{ character.class }}</td>
                <td>{{ character.item_level }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
